In [1]:
import mysql.connector

In [2]:
%load_ext sql

# Creating table 1 for joins

In [3]:
conn=mysql.connector.connect(host='localhost',user='root',password='redhat',database='mydb')

cursor = conn.cursor()

create_table1_query = """
CREATE TABLE cus (
    Cus_id int,
    Name varchar(100),
    Age int,
    Address varchar(100),
    purchase_id int
);
"""

cursor.execute(create_table1_query)

conn.commit()

cursor.close()
conn.close()
print('Table1 created successfully cus')

Table1 created successfully cus

In [4]:
conn=mysql.connector.connect(host='localhost',user='root',password='redhat',database='mydb')

cursor = conn.cursor()
values1 ='''insert into cus values 
(1, 'Rajesh Sharma', 32, 'Mumbai, India',103),
(2, 'Sneha Kapoor', 28, 'Delhi, India',102),
(3, 'Amit Singh', 35, 'Bangalore, India',104),
(4, 'Priya Patel', null, 'Kolkata, India',101),
(5, 'Neha Verma', 29, 'Chennai, India',105),
(6, null, 38, 'Hyderabad, India',101),
(7, 'Pooja Reddy', 24, 'Pune, India',null),
(8, 'Arun Kumar', 31, 'Jaipur, India',null);'''

cursor.execute(values1)

conn.commit()

cursor.close()
conn.close()
print('Values inserted successfully in cus')

Values inserted successfully in cus

# Creating table 2 for joins

In [5]:
conn=mysql.connector.connect(host='localhost',user='root',password='redhat',database='mydb')

cursor = conn.cursor()

create_table2_query = """
CREATE TABLE pro (
    Pro_ID int,
    ProductName VARCHAR(100),
    Price int,
    Status varchar(100)
);
"""

cursor.execute(create_table2_query)

conn.commit()

cursor.close()
conn.close()
print('Table2 created successfully  product')

Table2 created successfully  product

In [6]:
conn=mysql.connector.connect(host='localhost',user='root',password='redhat',database='mydb')

cursor = conn.cursor()
values2 ='''insert into pro values 
(101, 'Laptop', 999, 'In Stock'),
(102, 'Smartphone', 499, 'Out of Stock'),
(103, 'Headphones', 79, 'In Stock'),
(104, 'Tablet', 349, 'In Stock'),
(105, 'Desktop Computer', 1199, 'In Stock'),
(106, 'Wireless Mouse', 29, 'In Stock');'''

cursor.execute(values2)

conn.commit()

cursor.close()
conn.close()
print('Values inserted successfully in pro')

Values inserted successfully in pro

-- -------------------------------------------------------------------------|
-- Cus                                     |   Pro                          |
-- -------------------------------------------------------------------------|    
-- Cus_id                                  |   Pro_ID                       |
-- Name								       |   ProductName                  |
-- Age 									   |   Price                        |
-- Address                                 |   Status                       |                             
-- purchase_id							   |                                |
--  ------------------------------------------------------------------------|