In [1]:
%load_ext sql

# Filtering data
- Filtering data refers to the process of selecting specific rows from a dataset based on a specified condition. This is typically achieved using the WHERE clause.

In [2]:
%%sql mysql://root:redhat@localhost:3306/mydb

select * from product
Where ID=5;

1 rows affected.

[(5, 'Headphones', 'Electronics', 30, 'Available', 120)]

In [3]:
%%sql mysql://root:redhat@localhost:3306/mydb

select * from product
Where product_name='Laptop';

1 rows affected.

[(1, 'Laptop', 'Electronics', 500, 'Available', 50)]