In [1]:
%load_ext sql

# LIMIT Clause

- The LIMIT clause is used to restrict the number of rows returned in the result set. It's often used for pagination or to limit the number of results.

In [2]:
%%sql mysql://root:redhat@localhost:3306/mydb

select * from product
limit 5;

5 rows affected.

[(1, 'Laptop', 'Electronics', 500, 'Available', 50),
 (2, 'Smartphone', 'Electronics', 400, 'Available', 100),
 (3, 'Coffee Maker', 'Kitchen Appliances', 50, 'Available', 20),
 (4, 'Sneakers', 'Clothing', 60, 'Available', 80),
 (5, 'Headphones', 'Electronics', 30, 'Available', 120)]