In [1]:
%load_ext sql

# UPDATE
- The UPDATE statement is used to modify existing records in a table.

In [2]:
%%sql mysql://root:redhat@localhost:3306/mydb
#changing the status of product where id is 3
update product 
set Status= "Available"
where id =3;

1 rows affected.

[]

In [3]:
%%sql mysql://root:redhat@localhost:3306/mydb
#changing the price of prdouct 'Laptop'
update product 
set price=500
where Product_name="Laptop";

1 rows affected.

[]

In [4]:
%%sql mysql://root:redhat@localhost:3306/mydb

select * from product;

14 rows affected.

[(1, 'Laptop', 'Electronics', 500, 'Available', 50),
 (2, 'Smartphone', 'Electronics', 500, 'Available', 100),
 (3, 'Coffee Maker', 'Kitchen Appliances', 50, 'Available', 20),
 (4, 'Sneakers', 'Clothing', 60, 'Available', 80),
 (5, 'Headphones', 'Electronics', 30, 'Available', 120),
 (6, 'Toaster', 'Kitchen Appliances', 25, 'Available', 40),
 (7, 'Backpack', 'Accessories', 45, 'Available', 60),
 (8, 'Desk Chair', 'Furniture', 150, 'Available', 30),
 (9, 'Hiking Boots', 'Footwear', 70, 'Available', 25),
 (10, 'Blender', 'Kitchen Appliances', 40, 'Out of Stock', 10),
 (11, 'T-shirt', 'Clothing', 15, 'Available', 150),
 (12, 'Tablet', 'Electronics', 300, 'Available', 45),
 (13, 'Microwave', 'Kitchen Appliances', 75, 'Available', 15),
 (14, 'Jeans', 'Clothing', 40, 'Available', 90)]